<p id="notice"><%= notice %></p>

<p>
  <b>Linked in:</b>
  <%= @user.linked_in_id %>
</p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Headline:</b>
  <%= @user.headline %>
</p>

<p>
  <b>Location:</b>
  <%= @user.location %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
