<%= form_for(resource, :as => resource_name, :url => session_path(resource_name),:html => { :class => "form-signin" }) do |f| %>
  <%= devise_error_messages! %>

  <h2 class="form-signin-heading">Please sign in</h2>

  <div class="control-group">
    <label class="login-field-icon fui-mail-16" for="email"></label>
    <%= f.email_field :email, autofocus: true, placeholder: "Account email address" %>
  </div>

  <div class="control-group">
    <label class="login-field-icon fui-lock-16" for="password"></label>
    <%= f.password_field :password, class: "login-field", placeholder: "Account password" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <label class="checkbox">
      <%= f.check_box :remember_me %> <%= f.label :remember_me %>
    </label>
  <% end -%>

  <%= f.submit "Sign in", class: "btn btn-large btn-success" %>

  <br />
  <%= render "devise/shared/links" %>
<% end %>
