<!DOCTYPE html>
<html>
<head>
  <title>pinpointCV</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="masthead">
  <div class="container">
    <h1>
      <a href="http://pinpointcv.com" title="" target="_self">
        <%= image_tag "logo-full.png", :class => "logo-full", :alt => "pinpointCV - description here" %>
      </a>
    </h1>

    <ul class="nav nav-pills pull-right">
      <li><a href="/" title="" target="_self">Home</a></li>

      <% if user_signed_in? %>
        <li class=""><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
      <% else %>
        <li><a href="/resumes" title="" target="_self">Login</a></li>

        <li><a href="/users/sign_up" title="" target="_self">Register</a></li>
      <% end %>

        
    </ul>
  </div>
</div>

<div id="main_content">
  <div class="container">
    <%= yield %>
  </div> <!-- /container -->
</div> <!-- /main_content -->

</body>
</html>
