<!DOCTYPE html>
<html>
<head>
  <title>pinpointCV</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="masthead">
  <div class="container">
    <h1>
      <%= image_tag "logo-full.png", :class => "logo-full", :alt => "pinpointCV - description here" %>
    </h1>

    <ul class="nav nav-pills pull-right">
      <% if user_signed_in? %>
        <li>
          <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div id="main_content">
  <div class="container">
    <%= yield %>
  </div> <!-- /container -->
</div> <!-- /main_content -->

</body>
</html>
