<!DOCTYPE html>
<html>
<head>
  <title>pinpointCV</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<div>
  <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
</div>
</body>
</html>
